<h1>Welcome</h1>

<p><%= link_to 'Back to All Entries', entries_path %></p>

<% @images.each do |image| %>
<div class="bg-link">
<%= link_to "Background", image["urls"]["full"] %>
   <% end %>

</div>
